<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div>
              <%= image_tag default_img(@team.icon_url), class: 'img' %><br>
              <%= @team.name %>
            </div>
            <%= link_to I18n.t('views.messages.edit_team'), edit_team_path(@team), class: 'btn btn-success btn-block mt-3' %>
          </div>

          <div class="col-md-8">
            <div>
              <h5><%= I18n.t('views.messages.invite_team_member') %></h5>
              <%= form_with model: :assign, scope: :post, url: team_assigns_path(@team), local: true do |form| %>
                <div class="input-group input-group-sm">
                  <%= text_field_tag :email, '', { class: 'form-control', placeholder: I18n.t('views.messages.invitation_placeholder') } %>
                  <span class="input-group-append">
                    <button type="submit" class="btn btn-info btn-flat"><%= I18n.t('views.button.invite') %></button>
                  </span>
                </div>
              <% end %>
            </div>

            <div class="mt-4">
              <h5><%= I18n.t('views.messages.team_leader') %></h5>
              <table class="table">
                <tr>
                  <td><%= image_tag 'default.jpg', size: '40x40' %></td>
                  <td><label style="background-color: red"><%= I18n.t('views.messages.leader') %></label>：<%= @team.owner.email %></td>
                </tr>
              </table>
              <h5><%= I18n.t('views.messages.team_members2') %></h5>
              <table class="table">
                <tbody>
                  <% @team.assigns.each do |assign| %>
                    <tr>
                      <td><%= image_tag 'default.jpg', size: '40x40' %></td>
                      <td><%= assign.user.email %></td>
                      <td><%= link_to I18n.t('views.button.delete'), team_assign_path(@team, assign), method: :delete, class: 'btn btn-sm btn-danger' %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- ./col -->
</div>
