<p id="notice"><%= notice %></p>
<%= @team.name %>

<hr>

<p><%= image_tag @team.icon_url %></p>
<h2>チームメンバー</h2>
<ul>
  <% @team.members.each do |member| %>
    <li>
      <%= member.email %>
    </li>
  <% end %>
</ul>

<hr>
<h2>メンバー招待</h2>
<%= form_with model: :assign, scope: :post, url: team_assigns_path(@team), local: true do |form| %>
  <%= text_field_tag :email %>
  <%= submit_tag '招待' %>
<% end %>

<h2>Agendas</h2>
<ul>
  <% @team.agendas.each do |agenda| %>
    <li>
      <%= agenda.title %>
    </li>
  <% end %>
</ul>

<hr>
<%#= link_to '記事を書く', new_team_article_path(@team) %>
<%= link_to 'Agenda', team_agendas_path(@team) %>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
