<div class="login-panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">ログイン</h3>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
      <fieldset>
        <div class="form-group">
          <%= form.label :email %><br />
          <%= form.email_field :email, autofocus: true, class: 'form-control', placeholder: 'test@example.com' %>
        </div>
        <div class="form-group">
          <%= form.label :password %><br />
          <%= form.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'password' %>
        </div>
        <div class="checkbox">
          <label>
            <%= form.check_box :remember_me %> ログインを記憶する
          </label>
        </div>

        <%= form.submit "ログイン", class: 'btn btn-lg btn-success btn-block' %>
      </fieldset>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= render 'users/shared/links' %>
  </div>
</div>