<%= form_with model: article, local: true do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control', placeholder: 'タイトル' %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 20, class: 'form-control', placeholder: '本文を入力' %>
  </div>

  <div class="form-group">
    <%= form.submit '投稿する', class: 'btn btn-primary' %>
  </div>
<% end %>