<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <%= @article.title %>
        </h3>
        <%= @article.user.email %>
        <%= l(@article.created_at, format: :long) %>
        <%= link_to I18n.t('views.button.edit'), edit_article_path(@article) %>
        <%= link_to I18n.t('views.button.delete'), article_path(@article), method: :delete %>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <%= markdown(@article.content).html_safe %>
        <%= image_tag @article.image_url if @article.image_url %>
      </div>

      <p><%= I18n.t('views.messages.comment_list') %></p>
      <div id="comments_area" class="comments_area_form">
        <!-- 投稿されたコメント一覧をarticleの詳細ページに表示するためのrender -->
        <%= render partial: 'comments/index', locals: { comments: @comments, article: @article } %>
      </div>

      <p><%= I18n.t('views.messages.post_comment') %></p>
      <!-- コメント入力欄をarticleの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>

      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- ./col -->
</div>
