<%= form_with model: user, local: true do |form| %>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control', placeholder: 'taro@example.com' %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', placeholder: '田中 太郎' %>
  </div>

  <div class="form-group">
    <%= form.label :account_name %>
    <%= form.text_field :account_name, class: 'form-control', placeholder: 'taro_t' %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit '追加', class: 'btn btn-primary' %>
  </div>
<% end %>