<%= form_with(model: @user, local: true, url: user_path ) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>error(s) occured.</h2>
      <ul>

      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :image %>
    <%= form.file_field :icon %>
    <%= form.hidden_field :icon_cache %>
  </div>
  <div>
    <%= form.submit %>
  </div>

<% end %>
