<% content_for :content_header do %>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">ユーザー情報詳細</h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <h4><%= User.human_attribute_name(:email) %></h4>
    <p><%= @user.email %></p>

    <h4><%= User.human_attribute_name(:name) %></h4>
    <p><%= @user.name %></p>

    <h4><%= User.human_attribute_name(:account_name) %></h4>
    <p><%= @user.account_name %></p>

    <div class="text-left">
      <%= link_to '編集', edit_user_path(@user), class: 'btn btn-info' %>
      <%= link_to '削除', user_path(@user), method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>