<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div>
              <%= image_tag default_img(nil), class: 'img' %><br>
              <%= @user.email %>
            </div>
            <%= link_to I18n.t('views.messages.edit_profile') , '#', class: 'btn btn-success btn-block mt-3' %>
          </div>

          <div class="col-md-8">
            <div>
              <h5><%= I18n.t('views.messages.team_you_belong_to') %></h5>
              <table class="table">
                <tbody>
                  <% @user.teams.each do |team| %>
                    <tr>
                      <td><%= image_tag default_img(team.icon_url), size: '40x40' %></td>
                      <td><%= team.name %></td>
                      <td><%= link_to I18n.t('views.messages.select_team'), team %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <div class="mt-4">
              <h5><%= I18n.t('views.messages.posted_articles') %></h5>
              <table class="table">
                <tbody>
                  <% @user.articles.each do |article| %>
                    <tr>
                      <td><%= image_tag default_img(article.team.icon_url), size: '40x40' %></td>
                      <td>
                        <%= link_to article_path(article) do %>
                          <span><%= article.team.name %><%= I18n.t('views.common.team') %>　</span>
                          <span class="badge bg-primary"><%= article.agenda.title %></span>
                          <%= article.title %>
                        <% end %>
                        <br>
                        <%= l(article.created_at, format: :long) %><%= I18n.t('views.messages.posted_at') %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- ./col -->
</div>
