<!-- header -->
<div class="navbar-header">
  <%= link_to 'Dive into Code掲示板', root_path, class: 'navbar-brand' %>
</div><!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
  <li>
    <%= link_to new_article_path do %>
      <i class="fa fa-file"></i> 投稿する
    <% end %>
  </li>
  <li>
    <%= link_to 'ユーザー管理', users_path %>
  </li>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li>
        <%= link_to edit_user_path do %>
          <i class="fa fa-gear fa-fw"></i> Edit profile
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out fa-fw"></i> Logout
        <% end %>
      </li>
    </ul><!-- /.dropdown-user -->
  </li><!-- /.dropdown -->
</ul><!-- /.navbar-top-links -->