<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to dashboard_url, class: 'brand-link' do %>
    <span class="brand-text font-weight-light">DIVE INTO POST</span>
  <% end %>

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3">
      <div class="info">
        <h3 style="color: white;"><%= @working_team.name.truncate(15) %></h3>
      </div>
    </div>

    <div class="user-panel mt-3 pb-3 mb-3">
      <div class="info">
        <a href="#" class="d-block mb-1"><%= I18n.t('views.messages.create_agenda') %></a>
        <%= form_with model: :agenda, scope: :post, url: team_agendas_path(@working_team), local: true do |form| %>
          <div class="input-group input-group-sm">
            <%= text_field_tag :title, '', { class: 'form-control', placeholder: I18n.t('views.messages.input_agenda_title') } %>
            <span class="input-group-append">
              <button type="submit" class="btn btn-info btn-flat"><%= I18n.t('views.button.create') %></button>
            </span>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <% @working_team.agendas.each do |agenda| %>
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="fa fa-circle-o nav-icon"></i>
              <p>
                <%= agenda.title %>
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <% agenda.articles.each do |article| %>
                <li class="nav-item">
                  <%= link_to article_path(article), class: 'nav-link' do %>
                    <p><%= article.title %></p>
                  <% end %>
                </li>
              <% end %>
              <li class="nav-item">
                <%= link_to new_agenda_article_path(agenda), class: 'nav-link' do %>
                  <p>+ <%= I18n.t('views.messages.create_article') %></p>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
