<h1>DIVE INTO POST</h1>

<P><%= I18n.t('views.top.line1') %><br>
<%= I18n.t('views.top.line2') %></P>

<P><%= I18n.t('views.top.line3') %><br>
<%= I18n.t('views.top.line4') %></P>

<%= image_tag 'DIVEINTOCODE.png' %>

<br>
<p><%= link_to I18n.t('views.messages.team_build2'), new_team_path %></p>