<!DOCTYPE html>
<html>
  <head>
    <title>Keijiban</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div id="wrapper">
      <nav id="header" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <%= render 'shared/header' %>
      </nav>
      <div class="content-wrapper">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div><!-- wrapper -->

    <%= javascript_include_tag 'application' %>
  </body>
</html>
