<!DOCTYPE html>
<html>
  <head>
    <title>Keijiban</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <%= render 'shared/header' %>
        <%= render 'shared/sidebar' %>
      </nav>

      <div id="page-wrapper">
        <%= yield :content_header %>
        <%= yield %>
      </div>
    </div><!-- wrapper -->

    <%= javascript_include_tag 'application' %>
  </body>
</html>
