<!DOCTYPE html>
<html>
  <head>
    <title>Keijiban</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <header>
      <% if !user_signed_in? %>
        <button>
          <%= link_to 'Logout »', destroy_user_session_path, method: :delete %>
        </button>
      <% end %>
    </header>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
